<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Test" connectionString="Data Source=SLINFY\SQLEXPRESS;Initial Catalog=ScienceCityDB;User ID=sa;Password=slinfy@123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="Api" value="http://112.196.33.86:8000/" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="MyDate" value="dd/MM/yyyy" />
		<add key="Tax" value="2" />
		<add key="DemoPage" value="http://112.196.33.86:8080/demoui/Science-city/" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>