<div class="menu-list pmd-scrollbar mCustomScrollbar">
	<ul class="sidebar-menu">
		<li>
			<a href="#">
				<i class="icon icon-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-booking-history"></i> <span>Booking History</span>
			</a>
			<ul class="sidebar-submenu">
				<li><a href="#"><i class="fa fa-circle "></i>Web Bookings</a></li>
				<li><a href="#"><i class="fa fa-circle "></i>Counter Bookings</a></li>
				<li><a href="#"><i class="fa fa-circle "></i>Tour Operators Bookings</a></li>
				<li><a href="#"><i class="fa fa-circle "></i>Discount Bookings</a></li>
				<li><a href="#"><i class="fa fa-circle "></i>Staff Bookings</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"><i class="icon icon-packages"></i> <span>Manage Packages</span></a>
				<ul class="sidebar-submenu">
					<li><a asp-action="Create" asp-controller="Package" ><i class="fa fa-circle "></i>Create Package</a></li>
				</ul>
			
		</li>
		<li>
			<a href="#">
				<i class="icon icon-ticket-types"></i> <span>Manage Ticket Types</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-show-timings"></i> <span>Manage Show Timings</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-vendors"></i> <span>Vendors</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-commission"></i> <span>Commission</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-cancellation"></i> <span>Cancellation</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-staffs"></i> <span>Staffs</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-reports"></i> <span>Reports</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-help"></i> <span>Help</span>
			</a>
		</li>
	</ul>
</div>
