@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Science.City.Web.Helpers
@model ModelStateDictionary

@{
	ModelStateEntry state;

	Model.TryGetValue(EnumAlert.Error.ToString(), out state);

	if (state != null)
	{
		if (state.Errors.Any())
		{
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span>@state.Errors.FirstOrDefault().ErrorMessage</span>
			</div>
		}
	}

	Model.TryGetValue(EnumAlert.Info.ToString(), out state);

	if (state != null)
	{
		if (state.Errors.Any())
		{
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span>@state.Errors.FirstOrDefault().ErrorMessage</span>
			</div>
		}
	}

}